A new Request for Comments is now available in online RFC libraries.


        RFC 3582

        Title:      Goals for IPv6 Site-Multihoming Architectures
        Author(s):  J. Abley, B. Black, V. Gill
        Status:     Informational
        Date:       August 2003
        Mailbox:    jabley@isc.org, ben@layer8.net, vijaygill9@aol.com
        Pages:      9
        Characters: 17045
        Updates/Obsoletes/SeeAlso:    None

        I-D Tag:    draft-ietf-multi6-multihoming-requirements-07.txt

        URL:        ftp://ftp.rfc-editor.org/in-notes/rfc3582.txt


This document outlines a set of goals for proposed new IPv6
site-multihoming architectures.  It is recognised that this set of
goals is ambitious and that some goals may conflict with others.  The
solution or solutions adopted may only be able to satisfy some of the
goals presented here.

This document is a product of the Site Multihoming in IPv6 Working
Group of the IETF.

This memo provides information for the Internet community.  It does
not specify an Internet standard of any kind.  Distribution of this
memo is unlimited.

This announcement is sent to the IETF list and the RFC-DIST list.
Requests to be added to or deleted from the IETF distribution list
should be sent to IETF-REQUEST@IETF.ORG.  Requests to be
added to or deleted from the RFC-DIST distribution list should
be sent to RFC-DIST-REQUEST@RFC-EDITOR.ORG.

Details on obtaining RFCs via FTP or EMAIL may be obtained by sending
an EMAIL message to rfc-info@RFC-EDITOR.ORG with the message body 
help: ways_to_get_rfcs.  For example:

        To: rfc-info@RFC-EDITOR.ORG
        Subject: getting rfcs

        help: ways_to_get_rfcs

Requests for special distribution should be addressed to either the
author of the RFC in question, or to RFC-Manager@RFC-EDITOR.ORG.  Unless
specifically noted otherwise on the RFC itself, all RFCs are for
unlimited distribution.echo 
Submissions for Requests for Comments should be sent to
RFC-EDITOR@RFC-EDITOR.ORG.  Please consult RFC 2223, Instructions to RFC
Authors, for further information.


