


Pppext WG                                                        Jie. Hu
Internet-Draft                                             Yunqing. Chen
Intended status: Standards Track                           Dongfeng. Mao
Expires: September 15, 2011                                China Telecom
                                                            Haoxin. Tang
                                                            China Unicom
                                                          March 14, 2011


                PPPv6 Problem statement and requirements
                 draft-hu-pppext-ipv6cp-requirements-01

Abstract

   As in IPv4 network, PPP (PPPoE) will still be an important mechanism
   to provide access services to broadband subscribers of IPv6 or dual-
   stack.  This document describes problems the ISPs faced when
   deploying IPv6 in broadband access network over PPP, particularly,
   the capabilities lacked in IPv6CP.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on September 15, 2011.

Copyright Notice

   Copyright (c) 2011 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must



Hu, et al.             Expires September 15, 2011               [Page 1]

Internet-Draft  PPPv6 Problem statement and requirements      March 2011


   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.

   This document may contain material from IETF Documents or IETF
   Contributions published or made publicly available before November
   10, 2008.  The person(s) controlling the copyright in some of this
   material may not have granted the IETF Trust the right to allow
   modifications of such material outside the IETF Standards Process.
   Without obtaining an adequate license from the person(s) controlling
   the copyright in such materials, this document may not be modified
   outside the IETF Standards Process, and derivative works of it may
   not be created outside the IETF Standards Process, except to format
   it for publication as an RFC or to translate it into languages other
   than English.


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
     1.1.  Requirements Language . . . . . . . . . . . . . . . . . . . 3
   2.  Problem Statement . . . . . . . . . . . . . . . . . . . . . . . 3
   3.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . . . 4
   4.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . . . 5
   5.  IANA Considerations . . . . . . . . . . . . . . . . . . . . . . 5
   6.  Security Considerations . . . . . . . . . . . . . . . . . . . . 5
   7.  References  . . . . . . . . . . . . . . . . . . . . . . . . . . 5
     7.1.  Normative References  . . . . . . . . . . . . . . . . . . . 5
     7.2.  Informative References  . . . . . . . . . . . . . . . . . . 6
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . . . 6





















Hu, et al.             Expires September 15, 2011               [Page 2]

Internet-Draft  PPPv6 Problem statement and requirements      March 2011


1.  Introduction

   The Point-to-Point Protocol (PPP) provides a standard method for
   transporting multi-protocol datagrams over point-to-point links.  PPP
   defines an extensible Link Control Protocol (LCP) and a family of
   Network Control Protocols (NCPs) for establishing and configuring
   different network-layer protocols.

   While based on the current capabilities of the IPv6 Control Protocol
   ( IPv6CP) which is used for the negotiation of IPv6 parameters over
   PPP, only Interface-Identifier can be negotiated, other parameters
   such as IPv6 Address, DNS server addresses and delegated prefix have
   to be configured by other means rather than IPv6CP.

1.1.  Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in [RFC2119].


2.  Problem Statement

   In current practice, after the LCP and the authentication (if
   required ) phases are completed, the corresponding network-layer
   control protocol, IPCP will be used to negotiate all the IP layer
   elements needed between subscriber devices and the Broadband Network
   Gateway ( BNG).  This is fairly an efficient and robust means which
   collaborates quite well with other mechanisms like those for AAA,
   when providing access services in variable environments.

   While in IPv6 currently the configuration of IPv6 link can't be
   accomplished by the NCP (IPv6CP) itself.  The lack of Configuration
   Options defined in IPv6CP results in following problems:

   1.  The process of IP elements configuration is quite complicated.
       After entering the IPv6CP phase, one or more extra control
       protocols such as ND, DHCPv6, (and/or DHCPv6-PD) must be
       introduced, as currently there is only one configuration option
       define in IPv6CP for interface-ID negotiation.  Additionally, the
       status 'OPEN' of IPv6CP negotiation cannot be treated as the sign
       of access service!_s ready and triggers corresponding AAA
       activities, for instance' Accounting START'.

   2.  Some unnecessary functions will be involved.  For example,
       functions like Address Resolution, On-link Prefix List
       Advertisement, Default Router Advertisement, etc. defined in ND
       are actually not needed for a simple PPP link.



Hu, et al.             Expires September 15, 2011               [Page 3]

Internet-Draft  PPPv6 Problem statement and requirements      March 2011


   3.  The co-existence of multiple protocols with functionalities
       partially overlapped will lead to interoperation problems in the
       implementation as individual active state machine has to be
       maintained for each protocol which can result in conflicts (such
       as multiple lifetime counters).  Additionally, more transaction
       steps caused by extra control protocols introduced will result in
       longer response time and higher risk of exception.

   4.  ISPs have to change current network infrastructure accordingly,
       such as installing new DHCPv6 servers somewhere in the network (
       standalone or embedded) which will increase both CAPEX and OPEX.

   5.  Some unnecessary functions will be involved.  For example,
       functions like Address Resolution, On-link Prefix List
       Advertisement, Default Router Advertisement, etc. defined in ND
       are actually not needed for a simple PPP link.

   6.  At the LNS, if we filter traffic to be from the router IP
       addresses on all of our DSL lines to avoid spoofing, the FE80::
       link local address is not allowed through the source filtering as
       it is link local and so not allowed on to the network.  This
       filtering has to be modified to allow FE80:: addresses for SLAAC
       or DHCPv6 but then be blocked at a later stage.


3.  Requirements

   To keep the implementation simple and stable, the problems described
   above must be solved.  During the transition from IPv4 to IPv6, if
   ISPs choose to run IPv4 and IPv6 over one single PPP link for dual-
   stack subscribers, it is more feasible to unify the way of
   configuring both IPv4 and IPv6.

   From the ISP's point of view, it is more reasonable to extend the
   IPv6CP functions needed for PPP by the same means of IPCP which is
   mature and widely implemented rather than introducing extra control
   protocols.  To establish basic IPv6 connectivity over PPP, the
   following Configuration Options need to be defined:

   1.  IPv6 address;

   2.  Delegated IPv6 prefix;

   3.  DNS server addresses (primary and alternative);

   Also, Configuration Options for other functions may be considered in
   the future.




Hu, et al.             Expires September 15, 2011               [Page 4]

Internet-Draft  PPPv6 Problem statement and requirements      March 2011


4.  Acknowledgements

   Part of this text borrows from the previous RFCs and I-Ds.  And as
   such is partially based on previous work done by the PPP working
   group.  Thanks to Jacni Qin, Qian Wang and Qiong Sun for useful
   feedback.


5.  IANA Considerations

   This document includes no request to IANA.


6.  Security Considerations

   No new security concerns raised out of this document.


7.  References

7.1.  Normative References

   [RFC1661]  Simpson, W., "The Point-to-Point Protocol (PPP)", STD 51,
              RFC 1661, July 1994.

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119, March 1997.

   [RFC3315]  Droms, R., Bound, J., Volz, B., Lemon, T., Perkins, C.,
              and M. Carney, "Dynamic Host Configuration Protocol for
              IPv6 (DHCPv6)", RFC 3315, July 2003.

   [RFC3633]  Troan, O. and R. Droms, "IPv6 Prefix Options for Dynamic
              Host Configuration Protocol (DHCP) version 6", RFC 3633,
              December 2003.

   [RFC3646]  Droms, R., "DNS Configuration options for Dynamic Host
              Configuration Protocol for IPv6 (DHCPv6)", RFC 3646,
              December 2003.

   [RFC4861]  Narten, T., Nordmark, E., Simpson, W., and H. Soliman,
              "Neighbor Discovery for IP version 6 (IPv6)", RFC 4861,
              September 2007.

   [RFC5072]  S.Varada, Haskins, D., and E. Allen, "IP Version 6 over
              PPP", RFC 5072, September 2007.





Hu, et al.             Expires September 15, 2011               [Page 5]

Internet-Draft  PPPv6 Problem statement and requirements      March 2011


7.2.  Informative References

   [I-D.huang-ipv6cp-options]
              Huang, J., "IPv6CP Options for PPP Host Configuration",
              draft-huang-ipv6cp-options-00 (work in progress),
              February 2010.

   [I-D.ietf-pppext-ipv6-dns-addr]
              Hiller, T. and G. Zorn, "PPP IPV6 Control Protocol
              Extensions for DNS Server Addresses",
              draft-ietf-pppext-ipv6-dns-addr-03 (work in progress),
              June 2003.

   [I-D.qin-pppext-ipv6-addr-pref]
              Li, Y., Qin, J., and L. Yuan, "PPP IPv6 Control Protocol
              Extensions for Address and Prefix",
              draft-qin-pppext-ipv6-addr-pref-00 (work in progress),
              February 2010.

   [RFC1332]  McGregor, G., "The PPP Internet Protocol Control Protocol
              (IPCP)", RFC 1332, May 1992.


Authors' Addresses

   Jie Hu
   China Telecom
   Room 708 No.118, Xizhimenneidajie
   Beijing,   100035
   China

   Phone: +86 10 5855 2808
   Email: huj@ctbri.com.cn


   Yunqing Chen
   China Telecom
   Room 708 No.118, Xizhimenneidajie
   Beijing,   100035
   China

   Phone: +86 10 5855 2102
   Email: chenyq@ctbri.com.cn








Hu, et al.             Expires September 15, 2011               [Page 6]

Internet-Draft  PPPv6 Problem statement and requirements      March 2011


   Dongfeng Mao
   China Telecom
   No.31, Jinrong Ave
   Beijing,   100032
   China

   Phone: +86 10 5850 1809
   Email: maodf@chinatelecom.com.cn


   Haoxin Tang
   China Unicom
   No.13, Jinrong Ave
   Beijing,   100035
   China

   Phone: +86 1860 110 1695
   Email: tanghx@chinaunicom.cn

































Hu, et al.             Expires September 15, 2011               [Page 7]


