


Network Working Group                                         W. Ivancic
Internet-Draft                                                  NASA GRC
Intended status: Experimental                                    W. Eddy
Expires: January 10, 2013                                    MTI Systems
                                                               A. Hylton
                                                             D. Iannicca
                                                                J. Ishac
                                                                NASA GRC
                                                            July 9, 2012


             Store, Carry and Forward Testing Requirements
               draft-ivancic-scf-testing-requirements-00

Abstract

   This document provides guidelines and requirements for testing Store,
   Carry and Forward (SCF) systems and protocols.

   The Testing Requirements document is one of three that fully describe
   the SCF system.  The other two are the SCF Problem Statement and the
   SCF Requirements and Expectations document.

   This document -00 is currently just an Skeletal Outline published so
   the other two SCF documents can reference it.  The skeleton will be
   filled in within the next month.

Status of this Memo

   This Internet-Draft is submitted to IETF in full conformance with the
   provisions of BCP 78 and BCP 79.  This document may not be modified,
   and derivative works of it may not be created, except to format it
   for publication as an RFC and to translate it into languages other
   than English.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on January 10, 2013.

Copyright Notice



Ivancic, et al.         Expires January 10, 2013                [Page 1]

Internet-Draft          SCF Testing Requirements               July 2012


   Copyright (c) 2012 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.


Table of Contents

   1.  Terminology . . . . . . . . . . . . . . . . . . . . . . . . . . 3
   2.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
   3.  Test System . . . . . . . . . . . . . . . . . . . . . . . . . . 4
   4.  Test Requirements . . . . . . . . . . . . . . . . . . . . . . . 4
   5.  Security Considerations . . . . . . . . . . . . . . . . . . . . 4
   6.  IANA Considerations . . . . . . . . . . . . . . . . . . . . . . 5
   7.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . . . 5
   8.  Normative References  . . . . . . . . . . . . . . . . . . . . . 5
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . . . 5


























Ivancic, et al.         Expires January 10, 2013                [Page 2]

Internet-Draft          SCF Testing Requirements               July 2012


1.  Terminology

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].

   Detailed terminology is given in the SCF Requirements and
   Expectations document and will not be repeated here.


2.  Introduction

   This document provides guidelines and requirements for testing Store,
   Carry and Forward (SCF) systems and protocols.

   The Testing Requirements document is one of three that fully describe
   the SCF system.  The other two are the SCF Problem Statement and the
   SCF Requirements and Expectations document.

   As background, the SCF Problem Statement and SCF Requirements and
   Expectations documents are suggested reading.  The SCF Problem
   Statement describes the core SCF problem and gives an assessment of
   the ability to use existing technologies as solutions.  In addition,
   it provides a number of SCF deployment scenarios.

   In RFC760, one can fine what has become know as Postel's Law or the
   Robustness Principal, "In general, an implementation should be
   conservative in its sending behavior, and liberal in its receiving
   behavior."  This rule was originally targeting protocol
   implementation.  A corresponding rule for testing may be, "If you
   claim the protocol can do it, you have to prove it - test it."

   Conversely, being able to PING an end system does not indicate the
   network is fully functional.  It just means there is connectivity and
   a potential that the network is fully functional.

   The primary motivation for developing this document is to establish
   thorough, repeatable tests that will fully exercise a SCF system.
   Past experience has shown that testing of SCF systems to often be
   inadequate.  For example, tests have been performed on SCF systems in
   fully connected, high bandwidth networks where only forwarding would
   be exercised or the traffic would be so minimal as to never tax the
   storage or queueing.  Such tests are valid as a starting point, but
   insufficient to determine that a protocol or implementation will
   working properly in a reasonably scaled deployment.

   A secondary motivation is to improve implementations by providing a
   known test environment.  Knowing some possible ways that the protocol



Ivancic, et al.         Expires January 10, 2013                [Page 3]

Internet-Draft          SCF Testing Requirements               July 2012


   and system will be evaluated may help establish how the code is
   developed as well as identifying hooks for monitoring particular
   processes.


3.  Test System

   Figure 1 illustrates a generic testbed for testing may aspects of the
   SCF protocol.  The systems consists of 12 SCF agents and 16 links.
   Any or all of the links may be disconnected at any given time.  Even
   though the system is simple, it is still rather complex but the
   complexity is necessary because the system must accommodate testing
   of aggregation, deaggregation, and fragmentation with multiple
   container flows of various sizes and priorities.



     +------+                     +------+                      +------+
     |SCF-1 |                    /|SCF-5 |`.                  ./|SCF-10|
     +------+\                  / +------+  \              .-' /+------+
              \                /             `.  +------+.'   /
               `.            .'                `.|SCF-8 |`.  /
                 \          /                  .'+------+\ `+.
     +------+     \+------+/      +------+  .-'           \/  `.+------+
     |SCF-2 |......|SCF-4 |.......|SCF-6 |::              |\    |SCF-11|
     +------+     /+------+\      +------+  \             / | .'+------+
                 /          \                `.  +------+/ .+'
                /            \                 ::|SCF-9 |.'  \
              .'              `.              /  +------+`.   \
     +------+/                  \ +------+  .'             `-. \+------+
     |SCF-3 |                    \|SCF-7 |.'                  `.|SCF-12|
     +------+                     +------+                      +------+


                        SCF Test Network/postamble

                                 Figure 1


4.  Test Requirements

   List requirements and test for each of the protocol requirements in
   the "SCF Requirements and Expectations" document .


5.  Security Considerations

   This document is informative and provides guidelines and Requirements



Ivancic, et al.         Expires January 10, 2013                [Page 4]

Internet-Draft          SCF Testing Requirements               July 2012


   for testing SCF systems and protocols.  There are no security
   considerations.


6.  IANA Considerations

   This document neither creates nor updates any registries or
   codepoints, so there are no IANA Considerations.


7.  Acknowledgements

   Work on this document at NASA's Glenn Research Center was funded by
   the NASA Glenn Research Center Innovation Funds.  Many thanks to
   Denise Ponchak for aiding in obtaining financial supporting for this
   activity.


8.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119, March 1997.


Authors' Addresses

   William Ivancic
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-3494
   Email: william.d.ivancic@nasa.gov


   Wesley M. Eddy
   MTI Systems

   Email: wes@mti-systems.com











Ivancic, et al.         Expires January 10, 2013                [Page 5]

Internet-Draft          SCF Testing Requirements               July 2012


   Alan G. Hilton
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-6045
   Email: alan.g.hylton@nasa.gov


   Dennis C. Iannicca
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-6493
   Email: dennis.c.iannicca@nasa.gov


   Joseph A. Ishac
   NASA Glenn Research Center
   21000 Brookpark Road
   Cleveland, Ohio  44135
   United States

   Phone: +1-216-433-6587
   Email: jishac@nasa.gov























Ivancic, et al.         Expires January 10, 2013                [Page 6]

