 



INTERNET-DRAFT                                           Alejandro Tovar
Intended Status: Informational                         Luis M. Contreras
Expires: April 22, 2012                                 (Telefonica I+D)
                                                             Giada Landi
                                                           Nicola Ciulli
                                                             (Nextworks)
                                                        October 20, 2011


     Path Computation Requirements for Cross-Stratum-Optimization 
          draft-tovar-cso-path-computation-requirements-00.txt


Abstract

   The cross stratum optimization approach aims for providing a jointly
   optimized provision of both IT and network resources according to the
   application demands. In order to do that, the path computation
   capabilities in the network, which are in charge of finding the
   optimal connectivity resources, should take into account a new set of
   requirements.

   This memo explores the new needs derived from the cross stratum
   optimization approach.

Status of this Memo

   This Internet-Draft is submitted to IETF in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as
   Internet-Drafts.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/1id-abstracts.html

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html


Copyright and License Notice
 


Tovar, et al.            Expires April 22, 2012                 [Page 1]

INTERNET DRAFT       Path computation requirements      October 20, 2011


   Copyright (c) 2011 IETF Trust and the persons identified as the
   document authors. All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document. Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document. Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.



Table of Contents

   1  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . .  3
   2  Terminology . . . . . . . . . . . . . . . . . . . . . . . . . .  3
   3  Scenarios for cross-stratum path computation applicability  . .  3
   4  Requirements for cross-stratum path computation capabilities  .  4
   5  Security Considerations . . . . . . . . . . . . . . . . . . . .  4
   6  IANA Considerations . . . . . . . . . . . . . . . . . . . . . .  4
   7  References  . . . . . . . . . . . . . . . . . . . . . . . . . .  5
   8  Acknowledgments . . . . . . . . . . . . . . . . . . . . . . . .  5
   Authors' Addresses . . . . . . . . . . . . . . . . . . . . . . . .  5






















 


Tovar, et al.            Expires April 22, 2012                 [Page 2]

INTERNET DRAFT       Path computation requirements      October 20, 2011


1  Introduction

   This document summarizes requirements for path computation
   capabilities in the framework of cross-stratum optimization, allowing
   for the automation of efficient provision of both computing resources
   and network connectivity tailored to application driven needs.


2  Terminology

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].

   Additionally, the following terms are defined:

      - IT resources: in the context of this document, the Information
      Technology (IT) resources refer to computing and storage resources
      (disk capacity, CPU, etc) typically residing on Data Centers (DC)
      spread along the network.


3  Scenarios for cross-stratum path computation applicability

   In [1] four scenarios are identified as target scenarios for getting
   benefit from cross-optimization. These scenarios are the following:

      a.	Resource optimization (for both IT and network resources)

      b.	Responsiveness to quickly changing demands

      c.	Enhanced service resilience (via cooperative recovery
      techniques between IT and network resources)

      d.	Quality of application experience (QoE) enhancement (via better
      use of existing IT and network resources)

   Furthermore, some other scenarios of interest can be also identified

      e. Energy efficiency

      f.	Inter-domain extension of the demanded services (i.e., more
      than one network provider is involved in the end to end service
      provision)

   Path computation capabilities must clearly address above scenarios. 
   In addition, it is expected backward compatibility with existing
   standards. With this in mind, the following section summarizes the
 


Tovar, et al.            Expires April 22, 2012                 [Page 3]

INTERNET DRAFT       Path computation requirements      October 20, 2011


   protocol requirements for cross stratum optimization support.


4  Requirements for cross-stratum path computation capabilities

   The following list shows the requirements imposed by the scenarios
   above to the path computation capabilities (elements and/or
   algorithms) in the network:

      R1 - They should handle path computation requests specifying IT-
      related parameters in order to find the optimal path, selecting
      both the IT resources and the associated path for their network
      connectivity.

      R2 - They should provide mechanisms for quoting IT resource and/or
      network connectivity services for further decision on final
      connectivity implementation.

      R3 - They should include IT-related parameters in protection and
      recovery mechanisms in order to provide resiliency in combined
      services.

      R4 - They should implement mechanisms and procedures allowing for
      advanced reservation of both IT and network resources, in such a
      way that the connectivity operation can be implemented on a
      scheduled basis. 

      R5 - They should incorporate re-planning capabilities to optimize
      the use of the IT and network resources, scaling up or down such
      resources according to the real needs.

      R6 - They should handle energy-related objective functions to be
      able of minimizing the overall energy consumption for both IT and
      network resources.

      R7 - They should be able to efficiently support the previous
      requirements in inter-AS scenarios.


5  Security Considerations

      <TO DO>


6  IANA Considerations

      <TO DO>

 


Tovar, et al.            Expires April 22, 2012                 [Page 4]

INTERNET DRAFT       Path computation requirements      October 20, 2011


7  References

   [1]        Y. Lee et al., "Research Proposal for Cross Stratum
              Optimization (CSO) between Data Centers and Networks",
              draft-lee-cross-stratum-optimization-datacenter-00,(work
              in progress), March 2011.


8  Acknowledgments

   This proposal is based on the research work being carried out within
   the GEYSERS project (www.geysers.eu), funded by the European
   Community's Seventh Framework Programme (FP7/2007-2013) under grant
   agreement n. 248657.


Authors' Addresses


   Alejandro Tovar
   Telefonica I+D
   EMail: e.networkcloud@tid.es

   Luis M. Contreras
   Telefonica I+D
   EMail: lmcm@tid.es

   Giada Landi
   Nextworks
   EMail: g.landi@nextworks.it

   Nicola Ciulli
   Nextworks
   EMail: n.ciulli@nextworks.it

















Tovar, et al.            Expires April 22, 2012                 [Page 5]
