Network Working Group                                       Fatai Zhang 
Internet-Draft                                              Xiaobing Zi 
Intended status: Standards Track                                 Huawei 
                                                    O. Gonzalez de Dios 
                                                             Telefonica
Expires: April 11, 2012                                October 11, 2011 
                                      


                                    
            Requirements for GMPLS Control of Flexible Grids  
                                      
                draft-zhang-ccamp-flexible-grid-requirements-00.txt 


Status of this Memo 

   This Internet-Draft is submitted to IETF in full conformance with   
   the provisions of BCP 78 and BCP 79. 

   Internet-Drafts are working documents of the Internet Engineering   
   Task Force (IETF), its areas, and its working groups.  Note that   
   other groups may also distribute working documents as Internet-   
   Drafts. 

   Internet-Drafts are draft documents valid for a maximum of six 
   months   and may be updated, replaced, or obsoleted by other 
   documents at any   time.  It is inappropriate to use Internet-Drafts 
   as reference   material or to cite them other than as "work in 
   progress." 

   The list of current Internet-Drafts can be accessed at   
   http://www.ietf.org/ietf/1id-abstracts.txt. 

   The list of Internet-Draft Shadow Directories can be accessed at   
   http://www.ietf.org/shadow.html. 

   This Internet-Draft will expire on April 15, 2012. 

    

Abstract 

   A new flexible grid of DWDM is being developed within the ITU-T 
   Study Group 15 to allow spectrum allocation much more efficient. 
   This memo describes the requirements of GMPLS control of flexible 
   grid DWDM network.  


 
 
 
Zhang                       Expires 2012                      [Page 1] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

Conventions used in this document 

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", 
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this 
   document are to be interpreted as described in RFC-2119 [RFC2119]. 

Table of Contents 

    
   1. Introduction ................................................ 2 
   2. Characteristics of Flexible Grid............................. 3 
      2.1. Central Frequency....................................... 3 
      2.2. Slot Width ............................................. 4 
   3. Impact on WSON .............................................. 4 
      3.1. Fiber Links ............................................ 4 
      3.2. Optical Transmitters and Receivers ..................... 5 
   4. Routing and Spectrum Assignment.............................. 5 
      4.1. Architecture Approaches to RSA ......................... 6 
         4.1.1. Combined RSA (R&SA)................................ 6 
         4.1.2. Separated RSA (R+SA)............................... 7 
         4.1.3. Routing and Distributed SA (R+DSA) ................ 7 
   5. Requirements of GMPLS Control................................ 7 
      5.1. Routing ................................................ 7 
         5.1.1. Available Central Frequency of DWDM Links.......... 8 
         5.1.2. Tunable Optical Transmitters and Receivers......... 8 
      5.2. Signaling .............................................. 8 
         5.2.1. Slot Width Requirement............................. 8 
         5.2.2. Frequency Slot Representation ..................... 9 
      5.3. PCE .................................................... 9 
         5.3.1. RSA Computation Type............................... 9 
         5.3.2. RSA path re-optimization request/reply ............ 9 
         5.3.3. Frequency Constraints.............................. 10 
   6. Security Considerations...................................... 10 
   7. References .................................................. 10 
      7.1. Normative References.................................... 10 
      7.2. Informative References.................................. 11 
   8. Authors' Addresses .......................................... 12 
    
    

1. Introduction 

   In WDM applications, each wavelength needs to occupy a range of 
   frequency on a fiber. [G.694.1v1] defines the DWDM frequency grids 
   for WDM applications. A frequency grid is a reference set of 
   frequencies used to denote allowed nominal central frequencies that 
   may be used for defining applications. The channel spacing, i.e. the 
 
 
Zhang                       Expires 2012                      [Page 2] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   frequency spacing between two allowed nominal central frequencies 
   could be 12.5 GHz, 25 GHz, 50 GHz, 100 GHz and integer multiples of 
   100 GHz as defined in [G.694.1v1]. The channel spacing of the 
   channels on a fiber is fixed.  

   The speed of the optical signal becomes higher and higher with the 
   advancement of the optical technology. In the near future, high-
   speed signal (beyond 100 Gbps or 400Gbps) will be deployed in the 
   optical network. Those signals may not be accommodated in the 
   channel spacing specified in [G.694.1v1]. On the other hand, the 
   frequency bandwidth requirements of the optical signals with 
   different rate speed may be different. When the optical signals with 
   different rate speed are mixed to be transmitted on a fiber, the 
   frequency allocation needs to be more flexible to promote the 
   frequency efficiency.  

   [G.FLEXIGRID], an updated version of [G.694.1v1] will be consented 
   in December 2011 in support of flexible grids. The terms "frequency 
   slot (The frequency range allocated to a specific channel and 
   unavailable to other channels within a flexible grid)" and "slot 
   width" (the full width of a frequency slot in a flexible grid) are 
   introduced to define flexible grid. A channel is represented as a 
   wavelength LSP in the control plane, it means a wavelength LSP 
   should occupy a frequency slot on each fiber it traverses. In the 
   case of flexible grid, the different wavelength LSPs may have 
   different slot width on a fiber, i.e. the slot width is flexible on 
   a fiber.  

   WSON related documents are being developed currently and those 
   documents focus on the GMPLS control of the fixed grids. This 
   document describes the new characteristics of flexible grid and 
   analysis the requirements of GMPLS control of flexible grid.  

2. Characteristics of Flexible Grid  

   Per [G.FLEXIGRID], flexible grid is defined for the DWDM system. 
   Compared with the fixed grids (i.e. traditional DWDM), flexible grid 
   has a smaller granularity for the central frequency and the slot 
   width of the wavelength LSPs is more flexible on a fiber.  

2.1. Central Frequency  

   According to the definition of flexible DWDM grid in [G.FLEXIGRID], 
   the step granularity for the central frequency of flexible grid is 
   6.25 GHz. The allowed nominal central frequency is calculated as 
   such in the case of flexible grid:  

 
 
Zhang                       Expires 2012                      [Page 3] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

              Central Frequency = 193.1 THz + n * 0.00625 THz  

   Where n is a positive or negative integer including 0.  

2.2. Slot Width  

   A slot width defined by: 

   12.5 GHz * m where m is a positive integer. 

   On a fiber, the slot width of different wavelength LSPs may be 
   different.  

3. Impact on WSON  

   Wavelength Switched Optical Networks (WSONs) are constructed from 
   subsystems that include Wavelength Division Multiplexing (WDM) links, 
   tunable transmitters and receivers, Reconfigurable Optical Add/Drop 
   Multiplexers (ROADMs), wavelength converters, and electro-optical 
   network elements. WSON framework is described in [RFC 6163]. The 
   introduced flexible grid brings some changes on WSON.  

3.1. Fiber Links  

   The flexible grid has a granularity of 6.25 GHz for the central 
   frequency and a multiple of 12.5 GHz for the slot width. The fiber 
   link for flexible grid can be modeled as shown in figure 1.  

      -9 -8 -7 -6 -5 -4  3 -2 -1 0  1  2  3  4  5  6  7  8  9 10  11     
   ...+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--... 
                                 ^ 
                              193.1THz 
    
                Figure 1 Fiber link model for flexible grid 
                                      
   The symbol '+' represents the allowed nominal central frequency. The 
   symbol "--" represents a 6.25 GHz frequency unit. Each frequency 
   slot must occupy an even multiple of the 6.25 GHz frequency units, 
   i.e. a multiple of 12.5 GHz frequency range. The number on the top 
   of the line represents the 'n' in the frequency calculation formula. 
   The nominal central frequency is 193.1 THz when n equals zero.  

   Hence, the following information is needed as parameters to perform 
   basic, impairment-unaware modeling of a flexible grid link: 

   o Available central frequencies: The set of central frequencies 
      which are available on this link.  
 
 
Zhang                       Expires 2012                      [Page 4] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

3.2. Optical Transmitters and Receivers  

   Optical transmitter is the wavelength source and optical receiver is 
   the wavelength sink of the WDM system. In each direction, the 
   wavelength used by the transmitter and receiver along a path shall 
   be consistent if there is no wavelength converter in the path.  

   In the case of flexible grids, the central frequency utilized by a 
   transmitter or receiver may be fixed or tunable. The slot width 
   needed by different transmitters or receivers may be different. 
   Hence, the changes introduced by flexible grid of fundamental 
   modeling parameters for optical transmitters and receivers from the 
   control plane perspective are:  

   o Available central frequencies: The set of central frequencies 
      which can be used by an optical transmitter or receiver.  

   o Slot width: The slot width needed by a transmitter or receiver.  

4. Routing and Spectrum Assignment  

   A wavelength LSP should occupy a frequency slot, i.e. a range of 
   frequency. The route computation and frequency slot assignment could 
   be called RSA (Routing and Spectrum Assignment).  

   Similar to fixed grids network, if there is no wavelength converter 
   in an optical network, there is "wavelength continuity constraint" 
   for a flexible grid wavelength LSP which is described as section 4 
   of [RFC 6163].  

   Because of the high cost of the wavelength converters, an optical 
   network is generally deployed with limited or without wavelength 
   converters. Hence, the wavelength continuity constraint should be 
   considered without wavelength converters during the RSA process.  

   The RSA should determine a route and frequency slot for a wavelength 
   LSP. The frequency slot can be deduced from the two parameters which 
   are central frequency and slot width as follows:  

   Lowest frequency = (central frequency) - (slot width)/2; 

   Highest frequency = (central frequency) + (slot width)/2.  

   Hence, after a route is determined, the SA process should determine 
   the central frequency for a wavelength LSP based on the slot width 
   and available central frequency information of the links that the 
   route traverses.  
 
 
Zhang                       Expires 2012                      [Page 5] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   Figure 2 shows two wavelength LSPs that traverse a link.  

                         Frequency Slot 1     Frequency Slot 2 
                           -------------     -------------------  
                           |           |     |                 |  
      -9 -8 -7 -6 -5 -4 -3 -2 -1 0  1  2  3  4  5  6  7  8  9 10  11     
   ...+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--... 
                           -------------     ------------------- 
                                 ^                    ^ 
                    Central F = 193.1THz    Central F = 193.14375 THz 
                     Slot width = 25 GHz    Slot width = 37.5 GHz 
    
               Figure 2 Two Wavelength LSPs traverse a Link  
                                      
   The two wavelengths shown in figure 2 have the following meaning:  

   Wavelength LSP 1: central frequency = 193.1 THz, slot width = 25 GHz. 
   It means the frequency slot [193.0875 THz, 193.1125 THz] is assigned 
   to this wavelength LSP.  

   Wavelength LSP 2: central frequency = 193.14375 THz, slot width = 
   37.5 GHz. It means the frequency slot [193.125 THz, 193.1625 THz] is 
   assigned to this wavelength LSP.  

   Note that the frequency slots of two wavelength LSPs on a fiber 
   should not overlap with each other.  

4.1. Architecture Approaches to RSA  

   Similar to RWA for fixed grids, three different ways of performing 
   RSA in conjunction with the control plane are considered. The 
   approaches are provided for reference purposes only, and other 
   approaches are possible. 

4.1.1. Combined RSA (R&SA) 

   In this case, a centralized entity performs the routing and 
   frequency slot assignment. The centralized entity should have the 
   detailed network information, e.g. network topology, available 
   frequency resource on each link, node capability, etc.  

   The centralized computation entity could be placed on the following 
   two places: 

   o PCE: PCE get the detailed network information and implement the 
      RSA algorithm for RSA requests from the PCCs.  

 
 
Zhang                       Expires 2012                      [Page 6] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   o Ingress node: Ingress node gets the detailed network information 
      through routing protocol and implements the RSA algorithm when a 
      wavelength LSP request is received.  

4.1.2. Separated RSA (R+SA) 

   In this case, routing computation and frequency slot assignment are 
   performed by different entities. The first entity computes the 
   routes and provides them to the second entity; the second entity 
   determines the route and assigns the frequency slot.  

   The first entity should get the network topology information to 
   compute the proper routes; the second entity should get the 
   available frequency resource information and nodes capabilities to 
   assign the spectrum.  

4.1.3. Routing and Distributed SA (R+DSA) 

   In this case, one entity computes the route and the frequency slot 
   assignment is performed hop-by-hop in a distributed way along the 
   route. The available central frequencies which meet the wavelength 
   continuity constraint should be collected hop by hop along the route. 
   This procedure can be implemented by GMPLS signaling protocol.  

   The GMPLS signaling procedure is similar to the procedure which is 
   described in section 4.1.3 of [RFC 6163] except that the label set 
   should specify the available central frequency that meet the slot 
   width requirement of the wavelength LSP, i.e. the frequency slot 
   which is determined by the central frequency and slot width should 
   not overlap with the existing wavelength LSPs.  

5. Requirements of GMPLS Control  

   According to the different architecture approaches to RSA, it brings 
   some additional requirements of GMPLS control.  

5.1. Routing  

   In the case of combined RSA architecture, the computation entity 
   needs to get the detailed network information, i.e. network topology, 
   available frequency resources and node capabilities. This can be 
   done by the GMPLS routing protocol.  

   Compared with [RFC6163], except wavelength-specific availability 
   information, the network topology and node capabilities are the same 
   as WSON which can be advertised by GMPLS routing protocol (refer to 

 
 
Zhang                       Expires 2012                      [Page 7] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   section 6.2 of [RFC6163].  This section analysis the changes of link 
   information brought by flexible grids.  

5.1.1. Available Central Frequency of DWDM Links 

   In the case of flexible grids, the central frequency steps from 
   193.1 THz towards the two sides with 6.25 GHz granularity (See 
   Figure 1).  Different wavelength LSPs could occupy the frequency 
   slots with different slot width. Hence, the available central 
   frequency should be advertised, but the slot width is not required 
   to be advertised for a DWDM link.  

5.1.2. Tunable Optical Transmitters and Receivers 

   The slot width of a wavelength LSP is determined by the transmitter 
   and receiver. The transmitters and receivers could be mapped to 
   ADD/DROP interfaces in WSON. Hence, the slot width of an ADD/DROP 
   interface should be advertised.  

   The central frequency of a transmitter or receiver could be fixed or 
   tunable. Hence, the available central frequencies should be 
   advertised.  

5.2. Signaling  

   Compared with [RFC6163], except identifying the resource (i.e., 
   fixed wavelength for WSON and frequency resource for flexible grids), 
   the other signaling requirements (e.g., unidirectional or 
   bidirectional, with or without converters) are the same as WSON 
   described in the section 6.1 of [RFC6163]. 

   In the case of routing and distributed SA, GMPLS signaling can be 
   used to allocate the frequency slot to a wavelength LSP. This brings 
   the following changes to the GMPLS signaling.  

5.2.1. Slot Width Requirement 

   In order to allocate a proper frequency slot for a wavelength LSP, 
   the signaling should specify the slot width requirement of a 
   wavelength LSP. Then the intermediate nodes can collect the 
   acceptable central frequencies that meet the slot width requirement 
   hop by hop.  

   The tail node also needs to know the slot width of a wavelength LSP 
   to assign the proper frequency resource. Hence, the slot width 
   requirement should be specified in the signaling message when a 
   wavelength LSP is being set up.  
 
 
Zhang                       Expires 2012                      [Page 8] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

5.2.2. Frequency Slot Representation 

   The frequency slot can be determined by the two parameters, which 
   are central frequency and slot width as described in section 4. 
   Hence, the frequency slot can be represented as a combination of 
   [central frequency, slot width]. The signaling messages should be 
   able to specify the accurate frequency slot which is assigned to a 
   wavelength LSP, i.e. the signaling messages should be able to 
   specify the central frequency and slot width of a wavelength LSP.  

5.3. PCE 

   [WSON-PCE] describes the architecture and requirements of PCE for 
   WSON. In the case of flexible grid, RSA  instead of RWA is used for 
   routing and frequency slot assignment. Hence PCE should implement 
   RSA for flexible grids. The architecture and requirements of PCE for 
   flexible grids are similar to what is described in [WSON-PCE]. This 
   section describes the changes brought by flexible grids.  

5.3.1. RSA Computation Type  

   The PCReq message must be able to specify the computation type of 
   the request:  

   o Combined RSA: Both of the route and frequency slot should be 
      provided by PCE.  

   o Routing Only: Only the route is requested to be provided by PCE.  

   The PCRep Message must be able to specify the route, frequency slot 
   assigned to the route.  

   In the case where a valid path is not found, the PCRep Message must 
   be able to specify why the path is not found (e.g., no route, 
   spectrum not found, etc.) 

5.3.2. RSA path re-optimization request/reply  

   For a re-optimization request, the PCReq Message must provide the 
   path to be re-optimized and include the following options: 

   o Re-optimize the path keeping the same frequency slot.  

   o Re-optimize spectrum keeping the same path.  

   o Re-optimize allowing both frequency slot and the path to change.  

 
 
Zhang                       Expires 2012                      [Page 9] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   The corresponding PCRep Message for the re-optimized request must 
   provide the Re-optimized path and frequency slot. 

   In case that the path is not found, the PCRep Message must include 
   why the path is not found (e.g., no route, frequency slot not found, 
   both route and frequency slot not found, etc.) 

5.3.3. Frequency Constraints  

   PCE for flexible grids should consider the following constraints 
   brought by the transmitters and receivers:  

   o Available central frequencies: The set of central frequency that 
      can be used by an optical transmitter or receiver.  

   o Slot width: The slot width needed by a transmitter or receiver.  

   This constraint may be provided by requester (PCC) in PCReq or the 
   PCE's TEDB which stores the ability of the origination laser 
   transmitter.  

   PCC may also specify the frequency constraints for policy reasons. 
   In this case, the constraints should be specified in the PCReq 
   message.  

   PCE compute the route and assign the frequency slot to meet the 
   constraints specified in the PCReq message. Then return the result 
   to the PCC.  

6. Security Considerations 

   This document does not introduce any further security issues other 
   than those described in [RFC6163] and [RFC5920].  

7. References 

7.1. Normative References 

   [RFC2119] S. Bradner, "Key words for use in RFCs to indicate 
             requirements levels", RFC 2119, March 1997.  

   [WSON-PCE] Y. Lee, G. Bernstein, Jonas Martensson, T. Takeda and T. 
             Tsuritani, "PCEP Requirements for WSON Routing and 
             Wavelength Assignment", draft-ietf-pce-wson-routing-
             wavelength-05, July 2011. 


 
 
Zhang                       Expires 2012                     [Page 10] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   [RFC6163] Y. Lee, G. Bernstein and W. Imajuku, "Framework for GMPLS 
             and Path Computation Element (PCE) Control of Wavelength 
             Switched Optical Networks (WSONs)", RFC 6163, April 2011. 

   [G.FLEXIGRID] Draft revised G.694.1 version 1.3, Unpublished ITU-T           
             Study Group 15, Question 6. 

7.2. Informative References 

   [G.694.1v1] ITU-T Recommendation G.694.1, Spectral grids for WDM 
             applications: DWDM frequency grid, June 2002. 

   [RFC5920] Fang, L., Ed., "Security Framework for MPLS and GMPLS 
             Networks", RFC 5920, July 2010. 
































 
 
Zhang                       Expires 2012                     [Page 11] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

8. Authors' Addresses 

   Fatai Zhang 
   Huawei Technologies 
   F3-5-B R&D Center, Huawei Base 
   Bantian, Longgang District 
   Shenzhen 518129 P.R.China 
    
   Phone: +86-755-28972912 
   Email: zhangfatai@huawei.com 
    
    
   Oscar Gonzalez de Dios 
   Telefonica Investigacion y Desarrollo 
   Emilio Vargas 6 
   Madrid,   28045 
   Spain 
    
   Phone: +34 913374013 
   Email: ogondio@tid.es 
    
    
   Xiaobing Zi 
   Huawei Technologies 
   F3-5-B R&D Center, Huawei Base 
   Bantian, Longgang District 
   Shenzhen 518129 P.R.China 
    
   Phone: +86-755-28973229 
   Email: zixiaobing@huawei.com 
    
    
Intellectual Property 
    

   The IETF Trust takes no position regarding the validity or scope of   
   any Intellectual Property Rights or other rights that might be   
   claimed to pertain to the implementation or use of the technology   
   described in any IETF Document or the extent to which any license   
   under such rights might or might not be available; nor does it   
   represent that it has made any independent effort to identify any   
   such rights. 

   Copies of Intellectual Property disclosures made to the IETF   
   Secretariat and any assurances of licenses to be made available, or   
   the result of an attempt made to obtain a general license or   

 
 
Zhang                       Expires 2012                     [Page 12] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   permission for the use of such proprietary rights by implementers or   
   users of this specification can be obtained from the IETF on-line 
   IPR   repository at http://www.ietf.org/ipr 

   The IETF invites any interested party to bring to its attention any   
   copyrights, patents or patent applications, or other proprietary   
   rights that may cover technology that may be required to implement   
   any standard or specification contained in an IETF Document. Please   
   address the information to the IETF at ietf-ipr@ietf.org. 

   The definitive version of an IETF Document is that published by, or   
   under the auspices of, the IETF. Versions of IETF Documents that are   
   published by third parties, including those that are translated into   
   other languages, should not be considered to be definitive versions   
   of IETF Documents. The definitive version of these Legal Provisions   
   is that published by, or under the auspices of, the IETF. Versions 
   of   these Legal Provisions that are published by third parties, 
   including   those that are translated into other languages, should 
   not be   considered to be definitive versions of these Legal 
   Provisions. 

   For the avoidance of doubt, each Contributor to the IETF Standards   
   Process licenses each Contribution that he or she makes as part of   
   the IETF Standards Process to the IETF Trust pursuant to the   
   provisions of RFC 5378. No language to the contrary, or terms,   
   conditions or rights that differ from or are inconsistent with the   
   rights and licenses granted under RFC 5378, shall have any effect 
   and   shall be null and void, whether published or posted by such   
   Contributor, or included with or in such Contribution. 

Disclaimer of Validity 
 
   All IETF Documents and the information contained therein are 
   provided   on an "AS IS" basis and THE CONTRIBUTOR, THE ORGANIZATION 
   HE/SHE   REPRESENTS OR IS SPONSORED BY (IF ANY), THE INTERNET 
   SOCIETY, THE   IETF TRUST AND THE INTERNET ENGINEERING TASK FORCE 
   DISCLAIM ALL   WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
   LIMITED TO ANY   WARRANTY THAT THE USE OF THE INFORMATION THEREIN 
   WILL NOT INFRINGE   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF 
   MERCHANTABILITY OR FITNESS   FOR A PARTICULAR PURPOSE. 

 
Full Copyright Statement 
 
   Copyright (c) 2010 IETF Trust and the persons identified as the   
   document authors.  All rights reserved. 

 
 
Zhang                       Expires 2012                     [Page 13] 

draft-zhang-ccamp-flexible-grid-requiements-00.txt         October 2011 
    

   This document is subject to BCP 78 and the IETF Trust's Legal 
   Provisions Relating to IETF Documents 
   (http://trustee.ietf.org/license-info) in effect on the date of 
   publication of this document. Please review these documents 
   carefully, as they describe your rights and restrictions with 
   respect to this document.  Code Components extracted from this 
   document must include Simplified BSD License text as described in 
   Section 4.e of the Trust Legal Provisions and are provided without 
   warranty as described in the Simplified BSD License. 





































 
 
Zhang                       Expires 2012                     [Page 14] 

