A new Request for Comments is now available in online RFC libraries.


        RFC 3067

        Title:      TERENA'S Incident object Description and Exchange
                    Format Requirements
        Author(s):  J. Arvidsson, A. Cormack, Y. Demchenko, J. Meijer
        Status:     Informational
        Date:       February 2001
        Mailbox:    Jimmy.J.Arvidsson@telia.se,
                    Andrew.Cormack@ukerna.ac.uk, demch@terena.nl,
                    jan.meijer@surfnet.nl 
        Pages:      17
        Characters: 36836
        Updates/Obsoletes/SeeAlso:  None

        I-D Tag:    draft-terena-itdwg-iodef-requirements-00.txt

        URL:        ftp://ftp.rfc-editor.org/in-notes/rfc3067.txt


The purpose of the Incident Object Description and Exchange Format is
to define a common data format for the description, archiving and
exchange of information about incidents between CSIRTs (Computer
Security Incident Response Teams) (including alert, incident in
investigation, archiving, statistics, reporting, etc.).  This document
describes the high-level requirements for such a description and
exchange format, including the reasons for those requirements.
Examples are used to illustrate the requirements where necessary.

This memo provides information for the Internet community.  It does
not specify an Internet standard of any kind.  Distribution of this
memo is unlimited.

This announcement is sent to the IETF list and the RFC-DIST list.
Requests to be added to or deleted from the IETF distribution list
should be sent to IETF-REQUEST@IETF.ORG.  Requests to be
added to or deleted from the RFC-DIST distribution list should
be sent to RFC-DIST-REQUEST@RFC-EDITOR.ORG.

Details on obtaining RFCs via FTP or EMAIL may be obtained by sending
an EMAIL message to rfc-info@RFC-EDITOR.ORG with the message body 
help: ways_to_get_rfcs.  For example:

        To: rfc-info@RFC-EDITOR.ORG
        Subject: getting rfcs

        help: ways_to_get_rfcs

Requests for special distribution should be addressed to either the
author of the RFC in question, or to RFC-Manager@RFC-EDITOR.ORG.  Unless
specifically noted otherwise on the RFC itself, all RFCs are for
unlimited distribution.echo 
Submissions for Requests for Comments should be sent to
RFC-EDITOR@RFC-EDITOR.ORG.  Please consult RFC 2223, Instructions to RFC
Authors, for further information.

