


Network Working Group                                          T. Suzuki
Internet-Draft                                                  T. Tarui
Intended status: Informational                             Hitachi, Ltd.
Expires: April 18, 2013                                 October 15, 2012


          Requirements for an Energy-Efficient Network System
                   draft-suzuki-eens-requirements-00

Abstract

   Requirements concerning an energy-efficient network system such as a
   cloud system are presented.  Specifically, a large-scale cloud
   system, which is composed of multiple data centers (DCs) and a wide
   area network (WAN) to connect these DCs, is focused on.  The problems
   needed to be overcome in order to make the system energy efficient
   are presented.  The requirements that must be satisfied in order to
   solve these problems are also presented.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on April 18, 2013.

Copyright Notice

   Copyright (c) 2012 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of



Suzuki & Tarui           Expires April 18, 2013                 [Page 1]

Internet-Draft       Energy-Efficient Network System        October 2012


   the Trust Legal Provisions and are provided without warranty as
   described in the Simplified BSD License.


Table of Contents

   1.  Introduction . . . . . . . . . . . . . . . . . . . . . . . . .  3
   2.  Problem Statement  . . . . . . . . . . . . . . . . . . . . . .  4
   3.  Use Case . . . . . . . . . . . . . . . . . . . . . . . . . . .  5
     3.1.  Management System Structure  . . . . . . . . . . . . . . .  5
     3.2.  Server Function  . . . . . . . . . . . . . . . . . . . . .  6
     3.3.  Power-saving Method on a large scale cloud system  . . . .  7
   4.  Requirements . . . . . . . . . . . . . . . . . . . . . . . . .  8
   5.  Security Considerations  . . . . . . . . . . . . . . . . . . .  9
   6.  IANA Considerations  . . . . . . . . . . . . . . . . . . . . . 10
   7.  Informative References . . . . . . . . . . . . . . . . . . . . 11
   Authors' Addresses . . . . . . . . . . . . . . . . . . . . . . . . 12


































Suzuki & Tarui           Expires April 18, 2013                 [Page 2]

Internet-Draft       Energy-Efficient Network System        October 2012


1.  Introduction

   This draft describes the requirements that an energy-efficient
   network system must satisfy.  An example of the network system is a
   cloud system.

   Recently, cloud services, which provide various resources to distant
   data centers (DCs), such as processing power, storage, and
   applications, via a network have become wide-spread around the world.
   The users of cloud services have been increasing in proportion to the
   enhancement of the services.  Besides, the number and the scale of
   cloud systems have also been increasing in accordance with the growth
   of the number of users.  As a result of these trends, the power
   consumed by the systems has risen dramatically, and devising power-
   saving measures targeting the systems has become one of the biggest
   issues.

   Under those circumstances, the requirements concerning a power-saving
   cloud system to guarantee network-access quality to a virtual machine
   (VM) are described in this draft.  A power-saving cloud system is
   created by reallocating all VMs appropriately in the system in order
   to save power on the basis of cooperation between a DC management
   server and a network management server.  The requirements concerning
   power saving at the network level are described here while the
   requirements concerning the device level are still being discussed by
   the EMAN [EMAN] working group.

   In section 2, specific issues on the network level are discussed.  In
   section 3, a usage case for a power-saving cloud system is described.
   In section 4, requirements that the system must satisfy are
   prescribed.




















Suzuki & Tarui           Expires April 18, 2013                 [Page 3]

Internet-Draft       Energy-Efficient Network System        October 2012


2.  Problem Statement

   One way to create a power-saving cloud system is to consolidate
   working physical servers by appropriate VM migrations.  In a VM
   migration, many VMs are accommodated in the same physical server
   while the load of the CPU for each VM is low.  Unnecessary physical
   servers are then shut down, and power consumption of the entire
   system is cut.

   In regard to a conventional power-saving method, reallocation of the
   VMs is determined on the basis of the load of only physical servers
   and VMs.  Service quality is therefore guaranteed from the
   perspective of CPU load.  However, network congestion is possible
   when excess consolidation based on VM migrations is executed without
   considering the load corresponding to the network resource (such as
   bandwidth) even if enough CPU resources are available.

   Power-saving control for a cloud system should therefore be done
   while service quality is guaranteed.  To do that, power-saving
   control must be executed from the perspective of not only CPU load
   but also network load.  However, a method or protocol for
   communication between a DC management server and a network management
   server has not been defined yet.




























Suzuki & Tarui           Expires April 18, 2013                 [Page 4]

Internet-Draft       Energy-Efficient Network System        October 2012


3.  Use Case

3.1.  Management System Structure

   A target cloud system for power saving is shown in Figure 1.  The
   system is composed of multiple DCs and a wide area network (WAN)
   connecting the DCs.  An example of a management system for cloud-
   system power-saving is shown in Figure 2.  In the example, there is a
   WAN management server on the WAN side and multiple DC sub-management
   servers and a DC main-management server on the DC side.




        +---------------------------------------------------+
        |                                                   |
        |             Wide Area Network (WAN)               |
        |                                                   |
        +----------+-----------------------------+----------+
                   |                             |
                   |                             |
                   |                             |
        +----------+----------+       +----------+----------+
        |                     |       |                     |
        |   Data Center (1)   | - - - |   Data Center (n)   |
        |                     |       |                     |
        +---------------------+       +---------------------+



                Figure 1: Example of a target cloud system




















Suzuki & Tarui           Expires April 18, 2013                 [Page 5]

Internet-Draft       Energy-Efficient Network System        October 2012


        +---------------------------------------------------+
        |               WAN Mgmt Srv                        |
        +-------------------------+-------------------------+
                                  |
                                  |(1) WAN-DC I/F
                                  |
        +----------+--------------+-------------------------+
        |              DC Main-Mgmt Srv                     |
        +----------+-----------------------------+----------+
                   |                             |
                   |(2) DC Main-Sub I/F          |(2) DC Main-Sub I/F
                   |                             |
        +----------+----------+       +----------+----------+
        |                     |       |                     |
        | DC Sub-Mgmt Srv (1) |       | DC Sub-Mgmt Srv (n) |
        |                     +-------+                     |
        +---------------------+       +---------------------+
                                 (3) DC-DC I/F



                 Figure 2: Example of a management system

3.2.  Server Function

   In this section, a function for each management server shown in
   Figure 2 is described in concise way.

   WAN Management Server:
         The WAN managemnet server monitors available bandwidth for each
         node and consumed bandwidth by each VM in the WAN and predicts
         future loads for each resource.  In addition, it calculates the
         minimum necessary number of data-routing paths and bandwidth on
         the basis of the monitored resource conditions and predicted
         future load for each resource.  The number of routing paths is
         then consolidated accordingly.

   DC Main-Management Server:
         The main-management sever controls the start and end times of
         the VM consolidation for power saving of all DCs by utilizing
         the huge difference in the CPU loads on the servers during
         business hours and during the night.  In addition, it manages
         other DC sub-management servers.

   DC Sub-Management Server:
         The sub-management server monitors available bandwidth for each
         node and consumed bandwidth by each VM and predicts future
         loads for each resource.  It then calculates minimum necessary



Suzuki & Tarui           Expires April 18, 2013                 [Page 6]

Internet-Draft       Energy-Efficient Network System        October 2012


         number of physical servers to accommodate all VMs (some of
         which are under low load late at night).  Next, it reallocates
         them appropriately on the basis of the monitored resource
         conditions and predicted future load for each resource.  It
         then consolidates routing paths according to the minimum number
         of necessary routing paths and bandwidth.

3.3.  Power-saving Method on a large scale cloud system

   The following four methods can be used for power saving.

   1.  The power consumption of the DC is saved by turning off
       unnecessary physical servers after appropriate VM reallocation
       for the physical servers based on VM migrations while the quality
       of service (QoS) of the cloud services provided by the DC is
       guaranteed.

   2.  The power consumption of the DC is saved by turning off
       unnecessary physical servers and nodes or their ports on
       unnecessary data-routing paths after appropriate VM reallocation
       in the DC while QoS of the cloud services is guaranteed.

   3.  The power consumption of the DC is saved by turning off
       unnecessary physical servers after appropriate VM reallocation
       for the physical servers based on VM migrations between DCs while
       QoS of the cloud services is guaranteed.

   4.  The power consumption of the DC and WAN is saved by turning off
       unnecessary physical servers and nodes or their ports on
       unnecessary data-routing paths after appropriate VM reallocation
       between DCs while QoS of the cloud services is guaranteed.




















Suzuki & Tarui           Expires April 18, 2013                 [Page 7]

Internet-Draft       Energy-Efficient Network System        October 2012


4.  Requirements

   The interfaces shown in Figure 2 are needed to create the power-
   saving cloud system based on the schemes described in the previous
   section.  The requirements for each interface are briefly described
   below.

   WAN-DC Interface:
         The interface is used to transmit information concerning a
         change in the conditions of the network and server resources
         (including VMs) in the DC from the DC management server to the
         WAN management server.  In addition, by accessing the WAN
         management server, the DC management server uses the interface
         to determine if any problems occur in the WAN when the planned
         VM migration is executed.

   DC Main-Sub Interface:
         The interface is used by the DC main management server to
         inform the DC sub-management server to start or stop power-
         saving control for the network and server resources (including
         VMs) in each DC.  In addition, the DC sub-management server
         uses the interface to determine if any problems occur in the
         WAN when the planned VM migration over the DCs is executed via
         the WAN-DC interface.

   DC-DC Interface:
         The interface is used to determine appropriate reallocations of
         network and server resources by exchanging conditions of each
         resource (such as the load on the CPU of the physical server
         and VMs and availability of network bandwidth in the DC).





















Suzuki & Tarui           Expires April 18, 2013                 [Page 8]

Internet-Draft       Energy-Efficient Network System        October 2012


5.  Security Considerations

   This document describes problems and requirements for a power-saving
   large-scale network system.  To achieve this power saving, it is
   necessary to exchange information on the resource conditions in the
   WAN and DC between management servers in the WAN and DC.  It is
   therefore necessary to use a secure communication channel between
   management servers.











































Suzuki & Tarui           Expires April 18, 2013                 [Page 9]

Internet-Draft       Energy-Efficient Network System        October 2012


6.  IANA Considerations

   This document includes no request for IANA.
















































Suzuki & Tarui           Expires April 18, 2013                [Page 10]

Internet-Draft       Energy-Efficient Network System        October 2012


 7.   Informative References

    [EMAN]   "EMAN Working Group".

           <http://datatracker.ietf.org/wg/eman/>














































Suzuki & Tarui           Expires April 18, 2013                [Page 11]

Internet-Draft       Energy-Efficient Network System        October 2012


Authors' Addresses

   Toshiaki Suzuki
   Central Research Laboratory, Hitachi, Ltd.
   292 Yoshida-cho
   Totsuka-ku, Yokohama, Kanagawa  244-0817
   Japan

   Phone: +81-45-860-2177
   Email: toshiaki.suzuki.cs@hitachi.com


   Toshiaki Tarui
   Central Research Laboratory, Hitachi, Ltd.
   292 Yoshida-cho
   Totsuka-ku, Yokohama, Kanagawa  244-0817
   Japan

   Phone: +81-45-860-2177
   Email: toshiaki.tarui.my@hitachi.com































Suzuki & Tarui           Expires April 18, 2013                [Page 12]

