This Internet-Draft, draft-ietf-grow-bgp-graceful-shutdown-requirements-07.txt,
was published as an Informational RFC, RFC 6198
(http://www.ietf.org/rfc/rfc6198.txt), on 2011-04-15.

Internet-Drafts are not archival documents, and copies of Internet-Drafts
that have been deleted from the directory are not available.  The
Secretariat does not have any information regarding the future plans of
the author(s) or working group, if applicable, with respect to this
deleted Internet-Draft.  For more information, or to request a copy of
the document, please contact the author(s) directly. 

Draft Author(s):
T. Takeda <takeda.tomonori@lab.ntt.co.jp>
B. Decraene <bruno.decraene@orange-ftgroup.com>
P. Francois <pfr@info.ucl.ac.be>
c. pelsser <pelsser.cristel@lab.ntt.co.jp>
Z. Ahmad <zubair.ahmad@ orange-ftgroup.com>
A. Armengol <ajea@tid.es>
