6LoWPAN Working Group                                         P. Wang
Internet Draft                                                H. Wang
Interned status: Standards Track                                G. Ge
Expires: Dec 11,2011                           Chongqing University of
                                          Posts and Telecommunications
                                                          June 28,2011


   Industrial Scheduling Requirements for Transmission of IPv6 Packets
                      over IEEE 802.15.4 Networks
            draft-wang-6lowpan-scheduling-requirements-00.txt

Abstract

   Industrial automation field either process automation or factory
   automation has its special characteristics and requirements because
   of the crucial environment and the safety of industrial production
   itself. 6LoWPAN working group standard Rfc4944 "Transmission of IPv6
   Packets over IEEE 802.15.4 Networks" introduces the methods of
   transmitting IPv6 packets over IEEE 802.15.4 networks. This document
   describes the function requirements of industrial scheduling for
   transmission of IPv6 packets over IEEE 802.15.4 networks to extend
   the 6LoWPAN resolution method for industrial application space.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79. This document may not be modified,
   and derivative works of it may not be created, except to publish it
   as an RFC and to translate it into languages other than English.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF), its areas, and its working groups.  Note that
   other groups may also distribute working documents as Internet-
   Drafts.

   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other documents
   at any time.  It is inappropriate to use Internet-Drafts as
   reference material or to cite them other than as "work in progress."

   The list of current Internet-Drafts can be accessed at
   http://www.ietf.org/ietf/1id-abstracts.txt

   The list of Internet-Draft Shadow Directories can be accessed at
   http://www.ietf.org/shadow.html

   This Internet-Draft will expire on December 28, 2011.



Wang, et al.            Expires Dec 11, 2011                  [Page 1]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


Copyright Notice

   Copyright (c) 2011 IETF Trust and the persons identified as the
   document authors. All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document. Please review these documents
   carefully, as they describe your rights and restrictions with
   respect to this document.

Table of Contents


   1. Introduction...................................................2
      1.1. Requirements Language.....................................3
      1.2. Terms Used................................................3
   2. Overview.......................................................3
      2.1. Industrial requirements...................................3
      2.2. Data features and QoS.....................................5
   3. Determinism requirements.......................................7
   4. Reliability requirements.......................................7
   5. Real-time requirements.........................................8
   6. Low power requirements.........................................9
   7. Security Considerations.......................................10
   8. IANA Considerations...........................................10
   9. Acknowledgments...............................................10
   10. References...................................................10
      10.1. Normative References....................................10
      10.2. Informative References..................................11

1. Introduction

   The development of industrial wireless technology encourages
   Internet communities to integrate wireless technology into mature IP
   technology with mutual advantages. IEEE 802.15.4 standard and
   minimum Internet protocol stack uIP etc make 6LoWPAN(IPv6 over Low
   power Wireless Personal Area Networks) technology arises at the
   historic moment. In industrial application space 6LoWPAN has
   technological advancements that doesn't exist in Zigbee WIA-PA
   ISA100 and Wireless-HART. It is important to improve 6LoWPAN
   standard for industrial application space.

   IETF 6LoWPAN work group RFC4944 "Transmission of IPv6 Packet over
   IEEE 802.15.4 Networks" has described the frame format for
   transmission of IPv6 packet and the method of forming IPv6 link-


Wang, et al.            Expires Dec 11, 2011                  [Page 2]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   local addresses and stateless auto-configured addresses on IEEE
   802.15.4 networks. IETF ROLL (Routing Over Low power and Lossy
   networks) work group has presented a Ripple routing protocol for Low
   power and Lossy networks. Other relative work group includes 6LoWAPP
   for application exploration.

   But there are still not a IETF 6LoWPAN RFC focusing on the
   industrial scheduling requirements which is a MUST function in
   industrial application area. Either ISA100.11a or IEEE 802.15.4e
   takes deterministic schedule as a top priority. So the aim of this
   document is to analyze the requirements from the industrial
   environment for a scheduling protocol in 6LoWPAN networks.

1.1. Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in [RFC2119].

1.2. Terms Used

   BO:               Beacon Order

   CAP:    Contention Access Period

   CFP:    Contention-Free Period

   SAB:    Slot Allocation Bitmap

   LLDN:   Low Latency Deterministic Network

   ASN:    Absolute Slot Number

   TDMA:   Time Division Multiple Address

2. Overview

   Industrial field environment has many special requirements for
   wireless technology, once malfunction, there will result in great
   economic loss, even seriously, lost lives. This section introduces
   the specific industrial requirement and the important features and
   function of industrial wireless technology.

2.1. Industrial requirements

   Industrial automation is segmented into two distinct application
   spaces, known as "process" or "process control" and "discrete


Wang, et al.            Expires Dec 11, 2011                  [Page 3]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   manufacturing" or "factory automation". In industrial process control,
   the product is typically a fluid (oil, gas, chemicals, etc.). In
   factory automation or discrete manufacturing, the products are
   individual elements (screws, cars, dolls). While there are some
   overlap of products and systems between these two segments, they are
   surprisingly separate communities. The specifications targeting
   industrial process control tend to have more tolerance for network
   latency than what is needed for factory automation.

   The industrial market classifies process applications into three
   broad categories and six classes.

   o Safety

      * Class 0: Emergency action-Always a critical function

   o Control

      * Class 1: Closed-loop regulatory control-Often a critical
      function

      * Class 2: Closed-loop supervisory control-Usually a noncritical
      function

      * Class 3: Open-loop control-Operator takes action and controls
      the actuator (human in the loop)

   o Monitoring

      * Class 4: Alerting-Short-term operational effect (for example,
      event-based maintenance)

      * Class 5: Logging and downloading/uploading-No immediate
      operational consequence (e.g., history collection,sequence-of
      events, preventive maintenance)

   Industrial wireless control networks system usually needs the
   following requirements:

      - high determinism,

      - high reliability,

      - low latency, i.e. transmission of sensor date in   10ms,

      - low round trip time,



Wang, et al.            Expires Dec 11, 2011                  [Page 4]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


      - support for many sensors per LLDN PAN coordinator,

      - resisting disturbance, i.e. reject bad channel and channel hop.

2.2. Data features and QoS

   In industrial wireless network, the data link layer usually uses
   IEEE 802.15.4 low data rate wireless personal area network standard.
   There is usually small amount of data and large period of data
   transmission in practical industrial applications.

   Quality of service is defined as the sum of features and
   characteristics which meet the requirements of service and potential
   demands, referring to the extent that the service meets the needs of
   service providers. In communication networks, the QoS indicators are
   as follows: deterministic, real-time, reliability, low latency, low
   power consumption, etc.

   Application data can be classified according to the following
   methods:

2.2.1. It can be divided into periodic data and aperiodic data
   according to the period of data transmission.

   Periodic data is generally normal application data, which has lower
   quality of service requirements and is sent more regularly, so it
   can be used a centralized scheduling and pre-arranged the necessary
   resources.

   Aperiodic data is generally used to the management service or the
   alarm service. It requires a higher quality of service. It has to
   set aside separate resources in order to ensure the quality of
   service for aperiodic data because there is no fixed sending period.

2.2.2. It can be divided into general data, management data and alarm
   data according to the urgency of the data.

   General data generally refer to the data which collected by sensors
   or environmental monitoring data. It has smaller amount of data and
   is sent periodically, so it can use a centralized scheduling, which
   can allocate resources rationally based on the pre-data transmission
   period.

   Management data is generally used for network management and
   security management services. It manages the network using the
   uploading and downloading application service. This kind of data has



Wang, et al.            Expires Dec 11, 2011                  [Page 5]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   higher emergency than general data, so it needs to set aside
   resources rationally to ensure the QoS for network communication.

   Alarm data is used to alarm the network communication failure. It
   has the longest sending period and the highest urgency, so it must
   be processed as fast as possible to ensure the safety of industrial
   production and the staff. When setting aside resources, it has to
   ensure the reliability of data in a large extent and make the
   minimum delay.

2.2.3. It can be divided into fragment data and non-fragment data
   according to whether the data is fragment packets or not.

   Fragment data belongs to a complete datagram. The error rate of
   fragment datagram directly results in packet loss rate. Datagram
   delay is equal to the maximum delay of all the fragment datagram, so
   it needs to arrange the time slot resources for every fragment
   combined with certainty and the size of delay.

   Non-fragment data is normal sending data, it can arrange data
   transmission resources rationally combined with the cycle of data
   transmission.

2.2.4. It can be divided into aggregated data and non-aggregated data
   according to whether the data is aggregated or not.

   Aggregated data carried large amount of information, therefore it
   has higher requirements of QoS than normal data.

   Non-aggregated data is normal data.

2.2.5. It can be divided into 0-5 categories of industrial data
   according to industrial application.

   The reliability and real-time requirements for applications are
   decreased for data from Class 0 to Class 5.The class of security
   data has the highest reliability and real-time requirements, while
   the class of logging on, uploading and download data have the lowest
   reliability and real-time requirements.

   Scheduling protocol needs to arrange the resources reasonably
   according to different characteristics of data in order to ensure
   the requirements of QoS in real time, reliability and certainty.
   When classifying the data, sometimes it needs to make reasonable
   adjustments in real-time, reliability and certainty between the
   priority and importance.



Wang, et al.            Expires Dec 11, 2011                  [Page 6]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011




3. Determinism requirements

   Determinism means that data is sent and arrivalled within the
   stipulated time. Determinism is one of the three important features
   in the field of industrial applications, while another two
   characteristics of industrial applications are reliability and real-
   time.

   In the process automation and factory automation and other
   industrial areas, generally f(t) is the input and output control
   function, therefore only precise time synchronization and time
   deterministic input can generate the output which is correct and
   meets the requirements.When the input is not in deterministic time,
   it can lead to very serious consequences such as great economic loss,
   even seriously, lost lives.

   ISA100 working group draws up the ISA100.11a standards for process
   automation,in which deterministic scheduling technology is its key
   technology and all types are using the TDMA frame scheduling
   mechanism.The IEEE 802.15.4 working group recognizes that industrial
   applications has higher requirements on deterministic scheduling, so
   it establishes the IEEE 802.15.4e working group whose purpose is to
   improve the IEEE 802.15.4:2006 standard and draws up the relevant
   technical standards of the most critical features for three contorl
   areas,which are process automation, factory automation and business
   automation.

   Using the IPv6 technology for low-power wireless personal area
   network is the main purpose of the 6LoWPAN. RFC 4944 standard has
   solved the most basic techniques such as the delivery method for the
   IPv6 packeand and the IPv6 address configuration methods.But for the
   key technical requirements in industrial applications such as
   industrial deterministic scheduling, there are not relevant
   standards and methods. Therefore it needs to develop the industrial
   schedule demands for 6LoWPAN in order to support the determinism
   requirements of the wireless network.

   It specifically refers to determine the range of the error tolerance
   time and assign a fixed transmit/receive/broadcast time slot by
   rationally arranging the time slot length.

4. Reliability requirements

   Reliability is an important overall feature in industrial wireless
   sensor networks for industrial applications. Reliability in wireless


Wang, et al.            Expires Dec 11, 2011                  [Page 7]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   sensor networks for industry specific applications are wireless
   communication problem in harsh industrial environment and the
   minimum energy consumption. Such as network connectivity, data
   transmission delay, channel interference and packet loss will affect
   the reliability of industrial wireless communications. In the
   industrial wireless communication system, network managers allocate
   communication resources (time slots for communication link and
   communication channel access, etc.) through communication scheduling
   techniques. Communication scheduling technology can affect the
   reliability of the network greatly.

   Traditional IEEE80.2.15.4 network uses the MAC layer protocol based
   on CSMA which is a competitive channel access protocol. The MAC
   layer protocol requires that nodes must first listen to the channel
   before sending the MAc frame, if the channel is idle, then
   immediately senting the MAc frame, otherwise randomly selecting a
   delay to wait and re-scheduling group after waiting, but it can not
   guarantee the certainty of transmission time.

   The communication scheduling based on time slot allocation
   technology arranges each node to send and receive data in a
   predetermined super-frame time slot, which meet the conditions of
   timing and synchronization. The node can receive the data frame of
   each node at each time slot without mixing interference.At the same
   time, data frames sending to other nodes are arranged in scheduled
   time slot for transmission, each mobile terminal will be able to
   distinguish data frames sending to it and receive them as long as it
   receives data in the specified time slot, which avoid network
   communication conflicts considerably and increase the certainty and
   reliability of network communication.

   In addition, the jump-channel technology ensures the data to
   transmit in channel which has better quality and improve the
   reliability of the network.

5. Real-time requirements

   The definition of real-time in industrial wireless network means
   that data transmission in network is determinative.It is predictable,
   which means that data transmission in real-time network has time
   limit. Real-time is an important feature to which industrial
   wireless network need to meet.

   Many operations are required to predict the data delay of the
   network transmission in the field of industrial application, and the
   shortest path routing based scheduling algorithm is particularly
   needed, which not only considers traditional path indicators such as


Wang, et al.            Expires Dec 11, 2011                  [Page 8]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   the hop count/actual distance, but also the path delay. Especially
   for IPv6 wireless sensor network, when using the real-time internet
   applications such as multimedia audio, video, instant messaging and
   other applications, it needs to reduce the network transmission
   delay as much as possible in order to ensure the fluency of
   multimedia. At this time the deterministic scheduling mechanism
   should try to support the low latency requirements of real-time
   network as much as possible.

   Therefore, when designing scheduling mechanism in the industry, it
   must consider the delay requirements in actual industrial
   application network to support the real-time network in order to
   achieve a higher Qos of communication.

   Specific real-time requirements are as follows:

   1. To ensure Qos by the type of the application stream.

   2. To minimize the network delay in the condition that the low cost
      of network.

   3. To support the routing mechanisms based on scheduling in wireless
      sensor network.

6. Low power requirements

   Industrial wireless network is composed by a considerable number of
   nodes with limited resources.This kind of node is a tiny embedded
   device and usually carries very limited battery power,at the same
   time it usually requires the node to achieve the life of 3-5 years
   in order to reduce the economic losses by renewing the equipment.
   Therefore, low power is an important technical feature in industrial
   wireless network.

   There are many methods to improve the entire network life cycle in
   wireless sensor network, such as making part of nodes in dormancy in
   the network, or increasing the density of nodes in the entire
   network to extend the network life cycle, or using the energy-aware
   routing node technology. For the energy problem of a single node,
   the methods include using dormant nodes, data compression, and the
   part of RFID in dormancy.

   Deterministic scheduling itself arranges time slot including sending
   and receiving time slot in data communications network by
   considering the data characteristics and Qos,so the communication
   time and idle time can be predicted in advance and it can well
   supported the dormant nodes. The nodes turn off radio frequency


Wang, et al.            Expires Dec 11, 2011                  [Page 9]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   transceiver in idle time to sleep.When the communication slot is
   coming, it opens node transceiver to enter the working condition. To
   support the dormancy mechanisms of nodes, the IEEE 802.15.4 standard
   and the IEEE 802.15.4e standard design the sleep stage in the super-
   frame structure for low-power support.

   Therefore when designing the deterministic scheduling mechanisms it
   needs to consider the low power requirements in order to save the
   energy of nodes and ensure the network life cycle.

7. Security Considerations

   <Add any security considerations>

8. IANA Considerations

   <Add any IANA considerations>



9. Acknowledgments

   Thanks to the authors of RFC 4944 and <draft-ietf-rsvp-spec-15>, as
   parts of this document are patterned after theirs. Thanks to Shanyang
   Ji for edit of this document. Also thanks to Hao Wang et al.

   This document was prepared using 2-Word-v2.0.template.dot.

10. References

10.1. Normative References

   [1]  Bradner, S., "Key words for use in RFCs to Indicate
         Requirement Levels", BCP 14, RFC 2119, March 1997.

   [2]  Crocker, D. and Overell, P.(Editors), "Augmented BNF for
         Syntax Specifications: ABNF", RFC 2234, Internet Mail
         Consortium and Demon Internet Ltd., November 1997.

   [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate
             Requirement Levels", BCP 14, RFC 2119, March 1997.

   [RFC2234] Crocker, D. and Overell, P.(Editors), "Augmented BNF for
             Syntax Specifications: ABNF", RFC 2234, Internet Mail
             Consortium and Demon Internet Ltd., November 1997.




Wang, et al.            Expires Dec 11, 2011                 [Page 10]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


10.2. Informative References

   [3]  Faber, T., Touch, J. and W. Yue, "The TIME-WAIT state in TCP
         and Its Effect on Busy Servers", Proc. Infocom 1999 pp. 1573-
         1583.

   [Fab1999]  Faber, T., Touch, J. and W. Yue, "The TIME-WAIT state in
   TCP and Its Effect on Busy Servers", Proc. Infocom 1999 pp. 1573-
   1583.







































Wang, et al.            Expires Dec 11, 2011                 [Page 11]

Internet-Draft  ietf-6lowpan-Scheduling-requirements         June 2011


   Authors' Addresses

   Ping Wang
   Chongqing University of Posts and Telecommunications
   Administrative Building, Chongqing University of Posts and
   Telecommunications
   Chongqing, 400065
   China

   Phone: (86) -23- 6246- 1061
   Email: wangping@cqupt.edu.cn


   Heng Wang
   Chongqing University of Posts and Telecommunications
   Administrative Building, Chongqing University of Posts and
   Telecommunications
   Chongqing, 400065
   China

   Email: wangheng@cqupt.edu.cn

   Genchang Ge
   Chongqing University of Posts and Telecommunications
   Administrative Building, Chongqing University of Posts and
   Telecommunications
   Chongqing, 400065
   China

   Email: cqupt.ggc@gmail.com


















Wang, et al.            Expires Dec 11, 2011                 [Page 12]

