


Network Working Group                                       M. Kucherawy
Internet-Draft                                                 Cloudmark
Intended status: Informational                            August 9, 2011
Expires: February 10, 2012


              Requirements For Internet Registry Services
                 draft-kucherawy-weirds-requirements-01

Abstract

   This document enumerates a base set of requirements that should be
   included in any system that provides registration information for
   Internet entities, be they network assignments or domain name
   assignments.  Some of these, in turn, will define requirements for
   registrars; this, however, is an issue outside of the scope of this
   document.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on February 10, 2012.

Copyright Notice

   Copyright (c) 2011 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (http://trustee.ietf.org/license-info) in effect on the date of
   publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with respect
   to this document.  Code Components extracted from this document must
   include Simplified BSD License text as described in Section 4.e of
   the Trust Legal Provisions and are provided without warranty as



Kucherawy               Expires February 10, 2012               [Page 1]

Internet-Draft             WHOIS Requirements                August 2011


   described in the Simplified BSD License.


Table of Contents

   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . . . 3
   2.  Document Series . . . . . . . . . . . . . . . . . . . . . . . . 3
   3.  Terminology and Definitions . . . . . . . . . . . . . . . . . . 3
     3.1.  Keywords  . . . . . . . . . . . . . . . . . . . . . . . . . 3
     3.2.  Incorporated Requirements . . . . . . . . . . . . . . . . . 4
   4.  Requirements  . . . . . . . . . . . . . . . . . . . . . . . . . 4
     4.1.  Clients . . . . . . . . . . . . . . . . . . . . . . . . . . 4
     4.2.  Servers . . . . . . . . . . . . . . . . . . . . . . . . . . 4
   5.  IANA Considerations . . . . . . . . . . . . . . . . . . . . . . 6
   6.  Security Considerations . . . . . . . . . . . . . . . . . . . . 6
   7.  Informative References  . . . . . . . . . . . . . . . . . . . . 6
   Appendix A.  Public Discussion  . . . . . . . . . . . . . . . . . . 6
   Author's Address  . . . . . . . . . . . . . . . . . . . . . . . . . 7

































Kucherawy               Expires February 10, 2012               [Page 2]

Internet-Draft             WHOIS Requirements                August 2011


1.  Introduction

   The ubiquitous [WHOIS] service can be used today to query for domain
   name registration or network or subnetwork assignment information by
   the general public.  It is however a very simple protocol, whose
   output is free-form and thus not amenable to machine parsing.

   The CRISP working group created a workable and extensible standard
   for replacing WHOIS, called [IRIS].  Unfortunately, IRIS has seen
   little to no deployment for various reasons, mostly its complexity
   compared to WHOIS and some political and technical inertia.

   Thus, this effort confronts anew the need for a better service than
   WHOIS provides, and also presents several working APIs for
   standardization to improve service to all constituents.


2.  Document Series

   This memo represents the introduction to a series of others that
   define the overall problem and some available solutions.  The series
   is as follows:

   1.  RFCxxxx: Requirements for Internet Registry Services (this memo)

   2.  RFCxxxx+1: The ICANN Internet Registry Service API

   3.  RFCxxxx+2: The RIPE Internet Registry Service API

   4.  RFCxxxx+3: The ARIN Internet Registry Service API

   5.  RFCxxxx+4: RESTful WHOIS

   The intent is to publish one of the API specifications as a standards
   track document, and the remainder (including this memo) as
   informational documents.


3.  Terminology and Definitions

   This section defines terms used in the rest of the document.

3.1.  Keywords

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in [KEYWORDS].  In
   particular, since this is not a standards track document, these key



Kucherawy               Expires February 10, 2012               [Page 3]

Internet-Draft             WHOIS Requirements                August 2011


   words are meant to describe requirements for those proposals for a
   WHOIS replacement that seek standards track status.

3.2.  Incorporated Requirements

   Many of the requirements distilled from the input provided by various
   communities in [CRISP] will apply to this effort as well.  It is
   certainly the case that the research presented there should be
   considered prerequisite reading for this new work.


4.  Requirements

   This section enumerates the basic requirements of any WHOIS
   replacement system.

4.1.  Clients

   The client-side requirements are as follows:

   1.  To support internationalized values, a client SHOULD be able to
       handle replies that contain data that are not exclusively 7-bit
       clean.

   2.  A client SHOULD support caching of replies.  It MAY apply its own
       default and MAY use a time-to-live provided as part of the reply.

   3.  A client SHOULD be able to handle a reply that is effectively a
       referral or redirect to another server.

   4.  A client MUST be able to decode a reply using a well-established
       generic encoding mechanism such as XML or JSON.

4.2.  Servers

   The server-side requirements are as follows:

   1.  A server MUST be able to return internationalized data.

   2.  A server MUST be able to return a result that indicates to a
       client that the answer sought is not available here, but can be
       found elsewhere (i.e., a referral mechanism).  The DNS has well-
       established facilities for doing so and this effort might do well
       to consider those methods.

   3.  A server SHOULD be able to provide class-of-service facilities
       for different types of users.  At least the following cases need
       to be considered:



Kucherawy               Expires February 10, 2012               [Page 4]

Internet-Draft             WHOIS Requirements                August 2011


       anonymous:  Users with no prior arrangement for access to the
          data; typically all available data will be provided in
          response to a query, but the query rate may be severely
          limited.  No authentication is typically required.

       security:  Users that have an interest in a specific subset of a
          registration's data for the purpose of analysis and
          correlation while evaluating the trustworthiness of the
          source.  Examples include email client evaluation, email
          content evaluation, web site security, etc.  The subset will
          typically include creation/registration dates, assigned
          nameserver names and IP addresses, registrar ID and registrant
          ID.  Users in this class would be required to authenticate in
          some way, but such clients would not typically be subjected to
          rate limiting given the prior arrangement.

       law enforcement:  Users with a bona fide interest in as much
          registration data, including change history, as is available.
          Typically, queries would be rare but have extremely high
          priority.  These clients would definitely require
          authentication and probably also require encryption.

   4.  A server MUST reply in a univerally standard format; free-form
       replies MUST NOT be used, although the standard format may have
       provisions for some fields that are free-form within it.  In
       particular:

       *  All date and/or time fields MUST be formatted as per
          [DATETIME].

   5.  NOTE: The standard format is expected to be a significant portion
       of the work on the way to describing a new overall WHOIS
       specification.  In any case, machine-parsability of replies is
       crucial to the success of this work.

   6.  A server MUST provide a minimum set of data about a given query.
       It is expected that this minimum set will be different for a
       network allocation registry than a domain name registry, however
       the following MUST be provided:

       *  The creation date of the record

       *  The date on which the record most recently changed owners/
          registrants

       *  For domain name registration records, the identifier of the
          registrar that created the record




Kucherawy               Expires February 10, 2012               [Page 5]

Internet-Draft             WHOIS Requirements                August 2011


       *  For domain name registration records, the identifier of the
          registrant that created the record

       *  For network registration records, the size of the assigned
          subnet in terms of a number of bits

   7.  A server MAY provide different output based on the nature of the
       client, where such can be definitively determined.


5.  IANA Considerations

   This memo presents no actions for IANA, though later memos in this
   series are likely to do so.


6.  Security Considerations

   This memo introduces an overall protocol model, but no implementation
   details.  Specific security considerations of the various approaches
   presented in this document series will be described in those other
   documents.


7.  Informative References

   [CRISP]    Newton, A., "Cross Registry Internet Service Protocol
              (CRISP) Requirements", RFC 3707, February 2004.

   [DATETIME]
              Klyne, G. and C. Newman, "Date and Time on the Internet:
              Timestamps", RFC 3339, July 2002.

   [IRIS]     Newton, A. and M. Sanz, "IRIS: The Internet Registry
              Information Service (IRIS) Core Protocol", RFC 3981,
              January 2005.

   [KEYWORDS]
              Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119, March 1997.

   [WHOIS]    Daigle, L., "WHOIS Protocol Specification", RFC 3912,
              September 2004.


Appendix A.  Public Discussion

   Public discussion of this suite of memos takes place on the



Kucherawy               Expires February 10, 2012               [Page 6]

Internet-Draft             WHOIS Requirements                August 2011


   weirds@ietf.org mailing list.  See
   https://www.ietf.org/mailman/listinfo/weirds.


Author's Address

   Murray S. Kucherawy
   Cloudmark
   128 King St., 2nd Floor
   San Francisco, CA  94107
   USA

   Phone: +1 415 946 3800
   Email: msk@cloudmark.com





































Kucherawy               Expires February 10, 2012               [Page 7]

